@model ProjektiSentimentAnalysis.Models.Infk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Infk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusiAkredititmit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusiAkredititmit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitiAkreditimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitiAkreditimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fakulteti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fakulteti.FakultetiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instituti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instituti.InstitutiId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InfkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
